@import "../../../assets/styles/_GlobalStyle.scss";

.EditPunterView {
    height: auto;
    width: $fullWidth;
    padding: 130px 0 60px 0;

    // background: pink;

    .EditPunterView-main__wrapper {
        overflow-y: scroll;
        padding-bottom: 20px;

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: $secondaryColor;
        };
        &::-webkit-scrollbar {
            width: 0;
        };


        /*==== Page Title ====*/
        .page__title {
            font-family: 'Josefin Sans', sans-serif;
            font-weight: bold;

            &::after {
                content: "";
                height: 2px;
                width: 20px;
                margin: 0 3px;
                background: red;
                display: inline-block;
            };
        };

        /*==== Back to Home ====*/
        .back-to-home__link {
            .back-arror__icon {
                margin-right: 5px;
            };
        };


        /*=== Edit Punters Form ===*/
        .form__wrapper {
            box-shadow: 0 6px 12px 0 rgba(14,30,37,.12);
            border-radius: 5px;
            margin-top: 20px;
            padding: 30px;

            .edit-punter__form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 2rem;

                .form-group {
                    margin-bottom: 10px;
    
                    .form__label {
                        font-weight: bold;
                    };

                    .form__input {
                        height: 45px;
                        min-width: $fullWidth;
                        border: none;
                        border-radius: 5px;
                        box-sizing: border-box;
                        color: $primaryColor;
                        font-size: $fontSize;
                        padding: 10px 15px;

                        &::placeholder {
                            color: $linkColorHover;
                        };

                        &:focus {
                            box-shadow: none
                        };
                    };


                    .select-box__wrapper {
                        height: 45px;
                        min-width: $fullWidth;
                        border: none;
                        border-radius: 5px;
                        box-sizing: border-box;
                        background: rgba(208, 220, 221, 0.24);

                        .form__select {
                            // background: none;
                            border: none;
                            color: $primaryColor;
                            font-size: $fontSize;
                            padding: 10px 15px;
                        };
                    };
                    
                };
  
                .punters-name__form--group {
                    grid-column: 1 / 3;
                };

                .update__button {
                    height: 45px;
                    width: $fullWidth;
                    margin-top: 20px;
                    background: linear-gradient(45deg, rgb(0, 92, 87), rgb(0, 48, 48));
                    border: none;
                    border-radius: 5px;
                    color: $secondaryColor;
                    font-size: 1.5rem;
                    font-weight: bold;
                    cursor: pointer;

                    grid-column: 1 / 3;
                };
            };
        };
    };
};